html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url("https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPHA.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url("https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWw.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url("https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPHA.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url("https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPHA.ttf") format('truetype');
}

body {
  font-size: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

header {
  min-height: 773px;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-width: 980px;
}

header .header-menu {
  position: relative;
  padding: 70px 35px 0 35px;
}

header .header-menu h1 {
  font-family: Lato;
  font-size: 52px;
  line-height: 64px;
  color: #fff;
  max-width: 910px;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

header .header-menu .header-man {
  position: absolute;
  right: -80px;
  top: 78px;
}

header .header-menu .btn-mob {
  display: none;
}

header .header-menu .big-circle {
  position: absolute;
  top: 250px;
  width: 881px;
  height: 879px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 250px rgba(255, 255, 255, 0.07);
  box-shadow: inset 0 0 250px rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(232, 231, 229, 0.3);
}

header .header-menu .big-circle a:first-child {
  position: absolute;
  top: 404px;
  left: -23px;
}

header .header-menu .big-circle a:first-child:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -12px;
  width: 70px;
  height: 68px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 25px rgba(50, 57, 67, 0.5);
  box-shadow: 0 0 25px rgba(50, 57, 67, 0.5);
  background-color: #ffffff;
  opacity: 0.4;
}

header .header-menu .big-circle a:first-child:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

header .header-menu .big-circle a:nth-child(2) {
  position: absolute;
  top: 200px;
  left: 18px;
}

header .header-menu .big-circle a:nth-child(2):after {
  content: "";
  position: absolute;
  top: -15px;
  left: -18px;
  width: 100px;
  height: 98px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 25px rgba(50, 57, 67, 0.5);
  box-shadow: 0 0 25px rgba(50, 57, 67, 0.5);
  background-color: #ffffff;
  opacity: 0.4;
}

header .header-menu .big-circle a:nth-child(2):hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

header .header-menu .big-circle a:last-child {
  position: absolute;
  top: 13px;
  left: 250px;
}

header .header-menu .big-circle a:last-child:after {
  content: "";
  position: absolute;
  top: -13px;
  left: -13px;
  width: 70px;
  height: 68px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 25px rgba(50, 57, 67, 0.5);
  box-shadow: 0 0 25px rgba(50, 57, 67, 0.5);
  background-color: #ffffff;
  opacity: 0.4;
}

header .header-menu .big-circle a:last-child:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

header .header-menu .mid-circle {
  position: absolute;
  top: 390px;
  left: 180px;
  width: 585px;
  height: 585px;
  -webkit-box-shadow: inset 0 0 250px rgba(255, 255, 255, 0.07);
  box-shadow: inset 0 0 250px rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(232, 231, 229, 0.3);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

header .header-menu .mid-circle a {
  position: absolute;
  top: -23px;
  left: 250px;
  z-index: 1;
}

header .header-menu .mid-circle a:after {
  content: "";
  position: absolute;
  top: -21px;
  left: -20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 98px;
  -webkit-box-shadow: 0 0 25px rgba(50, 57, 67, 0.5);
  box-shadow: 0 0 25px rgba(50, 57, 67, 0.5);
  background-color: #ffffff;
  opacity: 0.4;
}

header .header-menu .mid-circle a:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

header .header-menu .sm-circle {
  position: absolute;
  top: 515px;
  left: 315px;
  width: 314px;
  height: 315px;
  -webkit-box-shadow: inset 0 0 250px rgba(255, 255, 255, 0.07);
  box-shadow: inset 0 0 250px rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(232, 231, 229, 0.3);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

header .header-menu .sm-circle a {
  position: absolute;
  top: 15px;
  left: 40px;
}

header .header-menu .sm-circle a:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 68px;
  height: 67px;
  -webkit-box-shadow: 0 0 25px rgba(50, 57, 67, 0.5);
  box-shadow: 0 0 25px rgba(50, 57, 67, 0.5);
  background-color: #ffffff;
  opacity: 0.4;
}

header .header-menu .sm-circle a:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

header .header-menu .sm-circle button {
  font-family: Lato;
  font-size: 24px;
  line-height: 60px;
  color: #fff;
  position: absolute;
  top: 130px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
  border: none;
  text-align: center;
  display: block;
  width: 274px;
  height: 64px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ff8800;
  font-weight: 400;
}

.design {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  min-width: 980px;
}

.design h3 {
  font-family: Lato;
  font-size: 34px;
  line-height: 42px;
  color: #0073ae;
  width: 50%;
  position: relative;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 109px 0 0 0;
  padding-bottom: 34px;
}

.design h3:first-child:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 63px;
  border: 1px solid #767676;
  opacity: 0.2;
}

.design h3:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 487px;
  height: 1px;
  border: 1px solid #767676;
  opacity: 0.2;
}

.design p {
  font-family: Lato;
  font-size: 18px;
  line-height: 23px;
  color: #585858;
  width: 50%;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 100px 66px 100px;
  position: relative;
}

.design p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 487px;
  height: 1px;
  border: 1px solid #767676;
  opacity: 0.2;
}

.design p:nth-child(4):before,
.design p:nth-child(7):before,
.design p:nth-child(10):before {
  content: "";
  background-image: url("../img/arrow.png");
  width: 40px;
  height: 40px;
  position: absolute;
  right: -20px;
  top: 20px;
}

.design img {
  margin: 75px auto 65px auto;
}

.design-slider {
  display: none;
}

.price {
  min-width: 980px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 16px;
  font-size: 20px;
  overflow: hidden;
  height: 619px;
  -webkit-transition: .9s;
  -o-transition: .9s;
  transition: .9s;
  padding-top: 50px;
}

.price > div {
  width: 313px;
}

.price > div h3 {
  font-family: Lato;
  font-size: 24px;
  line-height: 95px;
  color: #585858;
  width: 313px;
  height: 100px;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background-color: #f8f8f8;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.24px;
}

.price > div ul {
  padding-top: 20px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.price > div ul li {
  font-family: Lato;
  font-size: 14px;
  line-height: 16px;
  color: #585858;
  width: 271px;
  height: 50px;
  font-weight: 400;
  padding: 10px 0 7px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 auto;
  cursor: pointer;
}

.price > div ul li:hover {
  background-color: #f8f8f8;
}

.price > div ul .bold-li {
  background-color: #f8f8f8;
  font-weight: 700;
}

.price > div:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.price > div:hover h3 {
  background-color: #0474a9;
  color: #fff;
}

.price > div:hover h3:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
}

.price .premium {
  margin: 0 20px;
}

.price .premium h3 {
  position: relative;
}

.price .premium h3:before {
  font-family: Lato;
  font-size: 13px;
  line-height: 32px;
  color: #fff;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0;
  top: -29px;
  z-index: -1;
  content: "most popular";
  width: 313px;
  height: 49px;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background-color: #61afe5;
  font-weight: 400;
  text-transform: uppercase;
}

.see-more {
  width: 977px;
  height: 75px;
  margin: 0 auto;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  border: 1px solid #e8e8e8;
  background-color: #f8f8f8;
  text-align: center;
}

.see-more button {
  font-family: Lato;
  font-size: 16px;
  line-height: 72px;
  color: #0073ae;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.see-more button img {
  vertical-align: unset;
}

.see-more .not-show-btn {
  display: none;
}

.see-more .not-show-btn img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.price-mob {
  display: none;
}

@media (min-width: 320px) and (max-width: 600px) {
  header {
    background-image: url("../img/header-bg-sm.jpg");
    min-width: auto;
    min-height: 385px;
    background-position: initial;
    margin-bottom: 35px;
  }

  header .header-menu {
    padding: 90px 5px 0 5px;
  }

  header .header-menu .big-circle,
  header .header-menu .mid-circle,
  header .header-menu .sm-circle {
    display: none;
  }

  header .header-menu .header-man {
    display: none;
  }

  header .header-menu h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    max-width: 400px;
  }

  header .header-menu .btn-mob {
    display: block;
    text-align: center;
    margin-top: 35px;
  }

  header .header-menu .btn-mob button {
    font-family: Lato;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    width: 135px;
    height: 47px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #ff8800;
    font-weight: 300;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
  }

  header .header-menu .btn-mob button:last-child {
    background-color: #0073ae;
    margin-right: 0;
  }

  .design {
    display: none;
  }

  .design-slider {
    display: block;
    max-width: 295px;
    margin: 0 auto;
  }

  .design-slider .slider {
    border: 1px solid #e6e6e6;
  }

  .design-slider .slide img {
    margin: 0 auto;
    background-color: #f5f5f5;
    border: 1px solid #e6e6e6;
  }

  .design-slider .slide div {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .design-slider .slide div h3 {
    font-family: Lato;
    font-size: 15px;
    line-height: 24px;
    color: #585858;
    width: 50%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    margin-top: 30px;
    margin-bottom: 28px;
  }

  .design-slider .slide div h3:nth-child(2) {
    color: #0073ae;
    font-weight: 700;
    position: relative;
  }

  .design-slider .slide div h3:nth-child(2):before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 1px;
    height: 31px;
    background-color: #e6e6e6;
  }

  .design-slider .slide div p {
    font-family: Lato;
    font-size: 16px;
    line-height: 22px;
    color: #585858;
    width: 80%;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .see-more {
    display: none;
  }

  .price {
    display: none;
  }

  .price-mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .price-mob > div {
    width: 292px;
    background-color: #0073ae;
    text-align: center;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-top: 15px;
    position: relative;
  }

  .price-mob > div:nth-child(2) {
    margin-top: 40px;
  }

  .price-mob > div:nth-child(2):before {
    font-family: Lato;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    content: "Best value";
    position: absolute;
    left: 0;
    top: -25px;
    z-index: -1;
    width: 292px;
    height: 38px;
    background-color: #60aeea;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .price-mob > div h3 {
    font-family: Lato;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 21px 30px;
    border-bottom: 1px solid #4394c0;
  }

  .price-mob > div ul {
    padding-left: 26px;
    border-bottom: 1px solid #4394c0;
    display: none;
  }

  .price-mob > div ul li {
    font-family: Lato;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;
    padding: 10px 32px 10px 25px;
    position: relative;
    text-align: left;
  }

  .price-mob > div ul li:before {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .price-mob > div button {
    font-family: Lato;
    font-size: 12px;
    line-height: 32px;
    color: #fff;
    background-color: transparent;
    border: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.18px;
    cursor: pointer;
    padding: 10px 0;
    outline: none;
    min-width: 50px;
  }

  .price-mob > div button img {
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
  }
}